name: release

on:
  push:
    tags:
      - "v*"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version: "1.23"

      - name: Build
        run: |
          go build \
            -ldflags "-X main.Version=${GITHUB_REF_NAME}" \
            -o rpt

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: rpt
